/* Estilos da página inicial */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;   
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    color: #FFFFFF; /* Texto branco */
}

.content {
    text-align: center;
    width: 90%; /* Ajusta a largura para se afastar das bordas */
    max-width: 800px;
    padding: 20px; /* Adiciona mais espaçamento ao redor do conteúdo */
    box-sizing: border-box; /* Inclui o padding na largura total */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza itens horizontalmente */
}

.message, .central-image, #narrative-card, #choices-container button, #end-text {
    background-color: #000000; /* Fundo preto para melhorar legibilidade */
    color: #FFFFFF; /* Texto branco para contraste com fundo preto */
    padding: 12px;
    border: #003366 2px solid; /* Borda azul escuro fosco */
    border-radius: 9px;
    font-size: 20px; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Torna o texto mais grosso */
    position: relative; /* Necessário para o fundo preto atrás do texto */
}

/* Estilos da imagem central */
.central-image {
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
    border-radius: 8%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease, filter 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
}

.central-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 51, 102, 0.5); /* Azul escuro fosco com transparência */
    z-index: 1;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.central-image:hover::before {
    opacity: 1;
}

.central-image:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
    filter: brightness(1.3); /* Aumenta o brilho */
    box-shadow: 0 0 20px rgba(0, 51, 102, 0.8); /* Brilho de neon azul escuro */
    border: 4px solid #003366; /* Borda azul escuro fosco */
}


button {
    background-color: #000000; /* Preto puro */
    border: 2px solid #003366; /* Borda azul escuro fosco */
    color: #003366; /* Texto azul escuro fosco */
    padding: 12px 24px;
    font-size: 20px; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Torna o texto mais grosso */
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Sombra de texto para legibilidade */
}

button:hover {
    background-color: #003366; /* Azul escuro fosco para o fundo ao passar o mouse */
    color: #000000; /* Preto para o texto ao passar o mouse */
    border-color: #003366; /* Azul escuro fosco para a borda ao passar o mouse */
    box-shadow: 0px 8px 15px rgba(0, 51, 102, 0.2); /* Sombra azul escuro fosco ao passar o mouse */
}

/* Estilos do conteúdo da narrativa */
#narrative-card {
    padding: 20px;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0px 4px 22px rgba(0, 51, 102, 0.692); /* Sombra azul escuro fosco para destacar */
    color: #ffffff; /* Texto branco */
    max-width: 100%; /* Garante que o cartão não ultrapasse a tela */
    margin: auto; /* Centralizar o cartão */
    background-color: #000000; /* Fundo preto */
    font-size: 20px; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Torna o texto mais grosso */
}

/* Estilos das opções de resposta */
#choices-container button {
    background-color: #000000; /* Preto puro */
    border: 2px solid #003366; /* Borda azul escuro fosco */
    color: #003366; /* Texto azul escuro fosco */
    padding: 12px 24px;
    font-size: 20px; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Torna o texto mais grosso */
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Sombra de texto para legibilidade */
}

#choices-container button:hover {
    background-color: #003366; /* Azul escuro fosco para o fundo ao passar o mouse */
    color: #000000; /* Preto para o texto ao passar o mouse */
    border-color: #003366; /* Azul escuro fosco para a borda ao passar o mouse */
    box-shadow: 0px 8px 15px rgba(0, 51, 102, 0.2); /* Sombra azul escuro fosco ao passar o mouse */
}

#end-text {
    box-shadow: 0px 4px 22px rgba(0, 51, 102, 0.692); /* Sombra azul escuro fosco para destacar */
    font-size: 24px; /* Aumenta o tamanho da fonte */
    color: #FFFFFF; /* Texto branco */
    background-color: #000000; /* Fundo preto */
    padding: 10px;
    border-radius: 8px;
    font-weight: bold; /* Torna o texto mais grosso */
}

/* Media queries */
@media (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column; /* Alinha itens verticalmente */
        justify-content: center;
        align-items: center;
        padding: 0; /* Remove o padding */
    }

    .content {
        width: 90%; /* Ajusta a largura para se afastar das bordas */
        padding: 10px; /* Adiciona um pouco de espaçamento */
    }

    button {
        padding: 10px 20px;
        font-size: 18px; /* Ajusta o tamanho da fonte */
    }

    #narrative-card {
        padding: 15px;
        max-width: 100%; /* Garante que o cartão não ultrapasse a tela */
        box-sizing: border-box; /* Inclui padding na largura total */
    }

    #narrative-text {
        font-size: 18px; /* Ajusta o tamanho da fonte */
    }
}
