/* Estilos da página inicial */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121d33; /* Cor de fundo escura para contraste */   
    color: #f0f0f0; /* Cor do texto para melhorar a legibilidade */
}

.content {
    text-align: center;
    width: 80%;
    max-width: 800px;
}

.message {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffaf4d; /* Cor clara para boa legibilidade sobre o fundo escuro */
}

.central-image {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    border-radius: 8%;
    transition: box-shadow 0.5s; /* Transição suave para a sombra */
}

.central-image:hover {
    box-shadow: rgba(62, 146, 167, 0.315    ) 0px 0px 20px;
    /* A sombra será aplicada quando o mouse estiver sobre a imagem */
}

button {
    background-color: #3c4048; /* Versão mais clara da cor de fundo escura */
    border: 2px solid #2a2d35; /* Cor da borda um pouco mais escura */
    color: #ffaf4d; /* Cor clara para boa legibilidade sobre o fundo escuro */
        padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #1c1f24; /* Versão mais escura da cor de fundo escura */
    color: #ffd6a4; /* Cor clara para boa legibilidade sobre o fundo escuro */
    border-color: #141618; /* Borda ainda mais escura para efeito de sombra */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

/* Estilos do conteúdo da narrativa */
#narrative-card {
    padding: 20px;
     border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve para destacar */
    color: #ffd6a4;/* Cor do texto */
    max-width: 800px; /* Limite de largura */
    margin: auto; /* Centralizar o cartão */
}

/* Estilos das opções de resposta */
#choices-container button {
    background-color: #3c4048; /* Versão mais clara da cor de fundo escura */
    border: 2px solid #2a2d35; /* Cor da borda um pouco mais escura */
    color: #f0f0f0; /* Cor do texto clara para contraste */
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

#choices-container button:hover {
    background-color: #1c1f24; /* Versão mais escura da cor de fundo escura */
    color: #fff; /* Texto branco para contraste com o fundo mais escuro */
    border-color: #141618; /* Borda ainda mais escura para efeito de sombra */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

#end-text {
    font-size: 24px;
    color: #007BFF; /* Azul primário */
}

/* Media queries */
@media (max-width: 600px) {
    button {
        padding: 10px 20px;
        font-size: 16px;
    }

    #narrative-text {
        font-size: 16px;
    }

    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
